@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
}

.hover-char {
  transition: color 0.3s ease;
}

.hover-char.filled {
  color: var(--fill-color);
}

/* Space width preserved */
.char-space {
  display: inline-block;
  width: 0.3em;
}

.no-hover-char {
  color: inherit;
}
